* {
  margin: 0;
  padding: 0;
}

body {
  text-align: center;
}

.input {
  margin: 20px;
}

input[type=number]::-webkit-inner-spin-button { 
  -webkit-appearance: none;
}

input[type=number] { 
 -moz-appearance: textfield;
 appearance: textfield;
}

#res {
  margin-top: 20px;
  font-family: Arial, Helvetica, sans-serif;
}

